SoundSynthesizer/SoundSynthesizer.vcxproj.user
SoundSynthesizer/SoundSynthesizer.vcxproj.filters
SoundSynthesizer/SoundSynthesizer.vcxproj
SoundSynthesizer/Release/vc141.pdb
SoundSynthesizer/Debug/SoundSynthesizer.log
SoundSynthesizer.sln
Release/SoundSynthesizer.exe
Debug/SoundSynthesizer.pdb
Debug/SoundSynthesizer.ilk
Debug/SoundSynthesizer.exe
.vs/SoundSynthesizer/v15/ipch/AutoPCH/d62b738e7a6b7c12/MAIN.ipch
.vs/SoundSynthesizer/v15/ipch/AutoPCH/d53427d6c077bab2/MAIN.ipch
.vs/SoundSynthesizer/v15/Browse.VC.opendb
.vs/SoundSynthesizer/v15/Browse.VC.db
.vs/SoundSynthesizer/v15/.suo
SoundSynthesizer/Release/SoundSynthesizer.tlog/SoundSynthesizer.lastbuildstate
SoundSynthesizer/Release/SoundSynthesizer.tlog/CL.write.1.tlog
SoundSynthesizer/Release/SoundSynthesizer.tlog/CL.read.1.tlog
SoundSynthesizer/Release/SoundSynthesizer.tlog/CL.command.1.tlog
SoundSynthesizer/Release/SoundSynthesizer.log
SoundSynthesizer/Debug/SoundSynthesizer.tlog/link.command.1.tlog
SoundSynthesizer/Debug/SoundSynthesizer.tlog/SoundSynthesizer.lastbuildstate
Release/SoundSynthesizer.pdb
Release/SoundSynthesizer.ipdb
Release/SoundSynthesizer.iobj
SoundSynthesizer/Release/main.obj
SoundSynthesizer/Release/SoundSynthesizer.tlog/link.write.1.tlog
SoundSynthesizer/Release/SoundSynthesizer.tlog/link.read.1.tlog
SoundSynthesizer/Release/SoundSynthesizer.tlog/link.command.1.tlog
SoundSynthesizer/Release/SoundSynthesizer.tlog/SoundSynthesizer.write.1u.tlog
SoundSynthesizer/Debug/vc141.pdb
SoundSynthesizer/Debug/vc141.idb
SoundSynthesizer/Debug/main.obj
SoundSynthesizer/Debug/SoundSynthesizer.tlog/CL.write.1.tlog
SoundSynthesizer/Debug/SoundSynthesizer.tlog/CL.read.1.tlog
SoundSynthesizer/Debug/SoundSynthesizer.tlog/CL.command.1.tlog
SoundSynthesizer/pch.h
SoundSynthesizer/pch.cpp
SoundSynthesizer/Debug/SoundSynthesizer.tlog/link.write.1.tlog
SoundSynthesizer/Debug/SoundSynthesizer.tlog/link.read.1.tlog
.vs/SoundSynthesizer/v15/ipch/ef441f8f1e332270.ipch
